body {
	padding: 0;
	margin: 0;
	background-size: 1450px 1000px;
	background-repeat: no-repeat;
	font-family: 'Montserrat', sans-serif;
}

body, #slider, .wrap, .slide-content {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
}




.slide{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.slide1 {
background: url('https://images.pexels.com/photos/91884/pexels-photo-91884.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.slide2 {
background: url('https://images.pexels.com/photos/614479/pexels-photo-614479.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');

}

.slide3 {
background: url('https://images.pexels.com/photos/1003816/pexels-photo-1003816.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');

}

.slide4 {
background: url('https://images.pexels.com/photos/1036657/pexels-photo-1036657.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');

}


.slide-content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}


.MR {
	margin-top: -15px;
}

.navbar-default {
	background: transparent;
	position: sticky;
	border-bottom: 1px solid gray;
	border-top: none;
	border-right: none;
	border-left: none;
	box-shadow: 0px 0px 5px 1px;
	margin-bottom: 0;
}


.navbar-right > a {
	list-style: none;
	padding: 20px;
	display: inline-block;
	color: white;
	text-decoration: none;

}

.navbar-right > li {
	word-spacing: 20px;
	margin-right: 20px;
	display: inline;
	color: white;
	transition-duration: 0.8s;
	transition-property: transform;
}

.affix {
  -webkit-transition:padding 0.2s ease-out;
  -moz-transition:padding 0.2s ease-out;  
  -o-transition:padding 0.2s ease-out;         
  transition:padding 0.2s ease-out;

}

.headings {
	text-align: center;
	color: white;
	justify-content: center;
	margin-left: 0px;
	margin-top: 0px;
}

.languages {
	position: relative;
	float: left;
	margin-left: 30px;
	font-style:	italic;
	word-spacing: 20px;
	color: white;
}

.languages, .html, .css, .vjs {
	display: inline-block;
}

.grow {
	display: inline-block;
	vertical-align: middle;
	margin-top: 30px;
	margin-left:-10px;
	padding: 10px 20px 10px 20px;
	border-radius: 15px;
	color: white;
	background-color: transparent;
	border: 1px solid white;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden; /*<<<< What is this?*/
    -moz-osx-font-smoothing: grayscale; /*<<<< What is this?*/
    transition-duration: 1s;
    transition-property: transform; /*<<<< What is this?*/
}

.grow:hover, /*<<<< What is this?*/
.grow:focus, /*<<<< What is this?*/
.grow:active {
    transform: scale(1.1);
    opacity: 1;
    background-color: transparent;
    box-shadow: 0px 0px 1px 1px white;
	-webkit-transform:translateY(0);
	transform:translateY(0)
	-webkit-transform:translateY(6px);
	transform:translateY(6px);
}

.arrow{
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	width: 0;
	height: 0;
	border-style: solid;
}

#arrow-left{
	border-width: 20px 20px 20px 0;
	border-color: transparent #fff transparent transparent;
	left: 0;
	margin-left: 30px;
}

#arrow-right{
	border-width: 20px 0px 20px 20px;
	border-color: transparent transparent transparent #fff;
	right: 0;
	margin-right: 30px;
}
